body{
  font-family:Helvetica, sans-serif, Tahoma;
  font-size: 150%;
  background-color: black;
}

header{
  background-color: none;
  color: #ffffff;
}

nav{
  background-color: snow;
  color: #ffffff;
}

main{
  background-color: rgba(21, 255, 0, 0.272);
  font-size: 20px;
  display: block;
  unicode-bidi: isolate;
}

footer{
  background-color: rgba(74, 1, 1, 0.009) ;
}

li{
  display: inline-block;
  width: 30%;
}

h1{
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: chocolate;
}

p{
  line-height: 20px;
  color: #ffffff;
}

.grid {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
    align-items: center;
    row-gap: 20px;
    padding: 20px;
